@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>TTRK</h1>
    <h2>TalTech Raamatukogu by TTRK team</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to TalTech Raamatukogu</h2>
        <p>
            TalTech Raamatukogu is system to library workers that simplify their work
        </p>
    </div>
    <div class="col-md-4">
        <h2>Use it with love</h2>
        <p>If you have some issues we are ready to help you.</p>
        <p><a class="btn btn-default" href="ilja.freiberg99@gmail.com">send problems here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/jumal007/ttrk">See project source code &raquo;</a></p>
    </div>
</div>
