
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>
<p>Since established, TTRK team has believed in the strength of technology. Our main goal – make librarian work easier and faster.</p>
<p>
    More than 4 months, we have been worked on this project. Every page and step has tested on 10+ library workers. We have took into account all the wishes and continue improve the service.
</p>
<p>
    Best regards, your TTRK team.
   
</p>


